body {
  margin: 0;
  padding: 0;
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

p {
  align-self: flex-end;
}
