*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* UTILITIES */

.d-flex {
  display: flex;
  justify-content: space-between;
}

.container {
  width: min(80%, 1128px);
  margin: 0 auto;
}

.col {
  flex-direction: column;
}

.text-white {
  color: white;
  padding-bottom: 3rem;
}

.col-rev {
  display: flex;
  flex-direction: column-reverse;
}

/* intro */

.intro {
  width: 100%;
  background: #f3eed9;
  padding: 4em 0em;
  text-align: center;
}

.intro__text {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.intro__title {
  color: #824936;
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
}

.section-two {
  padding: 3em 0;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  text-align: center;
  padding-bottom: 1em;
  color: #f3eed9;
}

.section-title--dark {
  color: #824936;
}

.section-text {
  font-family: "Roboto", sans-serif;
  font-weight: 1.3125rem;
}

.section-three {
  background: #222c2a;
  padding: 5em 0;
}

.section-four {
  background: #824936;
  padding: 5em 0;
}
